<div id="preloaderBlocker">
    <div id="preloaderHolder"> 
        <div class="actionPreloader">
            <div class="preloaderMessage">
                <p>Please wait...</p>
            </div>
        </div>
    </div>
</div>
