@using WordpressPost.Helper

@section Styles {

    <link rel="stylesheet" type="text/css" href="Content/reset.css">
}

@section Scripts {

    <script src="Scripts/App/main.js"></script>
}

<div id="header">

    <div id="wordpressPostForm" class="moduleMargin customForm">

        <div class="formItem">
            <span class="itemTitle">DOMAIN NAME:</span>
            <div class="itemContainer">
                <input id="domainName" class="input text" type="text" data-required="true" data-length="100" data-valid-domain="true" />
                <div class="message error empty">Domain name can't be empty</div>
                <div class="message error toolong">Domain name is too long max 100 length</div>
                <div class="message error domainerror">Please enter valid domain name</div>
            </div>
        </div>

        <div class="formItem">
            <span class="itemTitle">SEARCH PHRASE:</span>
            <div class="itemContainer">
                <input id="phrase" class="input text" type="text" data-length="100" />
                <div class="message error toolong">Domain name is too long max 100 length</div>
            </div>
        </div>

        <div class="formItem">
            <span class="itemTitle">SORT BY:</span>
        
            <div class="itemContainer">
                <select id="sortBy">
                    <option value="date">Create date</option>
                    <option value="modified">Modification date</option>
                    <option value="title">Title</option>
                </select> 

                <div class="message error"></div>
            </div>
        </div>

        <div class="formItem">
            <span class="itemTitle">POST NUMBER:</span>
            <div class="itemContainer">
                <input id="postNumber" class="input text" type="text" placeholder="20" data-min-number="5" data-max-number="100" />
                <div class="message error notanumber">Please enter number</div>
                <div class="message error belovemin">Number must be greater than 5</div>
                <div class="message error abovemax">Number must be lower than 100</div>
            </div>
        </div>

        <button id="submit" class="button">Submit</button>
    </div>

    <div style="clear: both;"></div>
</div>

<div class="graident mainpage"></div>

<div id="container" class="filter-list">
    <div id="content">
        <div id="innerContent">

            <div id="postGrid" class="customGrid moduleMargin">

                <div id="pagination"></div>

                <table>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Create Date</th>
                            <th>Modification Date</th>
                        </tr>
                    </thead>

                    <tbody data-bind="foreach: { data: items }">
                        <tr data-bind="attr: { dataID: postID }, click: $root.postClicked">
                            <td data-bind="text: title"></td>      
                            <td data-bind="text: createDate"></td> 
                            <td data-bind="text: modificationDate"></td> 
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>